<%= form_with url: participants_path do |f| %>
<p>ユーザー名</p>
 <input name="name">
<p>メールアドレス</p>
<input name="email">
<p>パスワード</p>
<input type="password" name="password" >
<input type="submit" value="芸人新規登録">
<%end%>